[submodule "kana"]
	path = kana
	url = https://github.com/dragonwong/kana.git
[submodule "dialoger"]
	path = dialoger
	url = https://github.com/dragonwong/dialoger.git
	branch = master
[submodule "freeloancalculator"]
	path = freeloancalculator
	url = https://github.com/dragonwong/freeloancalculator.git
[submodule "photo-printer"]
	path = photo-printer
	url = https://github.com/dragonwong/photo-printer.git
